<div class="jumbotron">
  <h2><%= gettext "Welcome to Contract Management System" %></h2>
  <p class="lead">A productive web application to<br />manage your contracts efficiently.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    
  </div>
</div>
